@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

body {
    font-family: "Kanit", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #0093d8, #f3762b);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/* Navbar */
#top_nav {
    background-color: #0b2453;
    padding: 10px;
}
#top_nav ul li {
    display: inline-block;
    margin-left: 10px;
}
#top_nav ul li:first-child {
    margin-left: 0;
}
#top_nav ul li a:hover {
    color: #EF6E2B;
}
#top_nav a {
    color: #ffffff;
}


@media only screen and (min-width: 300px) and (max-width: 500px) {
    #top_nav .d-flex {
        justify-content: center !important;
    }
    #top_nav .skype {
        display: none;
    }
    #top_nav .mobile {
        display: none;
    }
    #top_nav .phone {
        display: none;
    }
    #top_nav .top_social_icon {
        display: none;
    }
    #top_nav .whatsapp {
        margin-left: 0;
    }
}
@media only screen and (min-width: 510px) and (max-width: 800px) {
    #top_nav .d-flex {
        justify-content: center !important;
    }
    #top_nav .top_social_icon {
        display: none;
    }
}


/* Main Navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: rgb(159, 159, 159) 0px 0px 10px 0px;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar_icons_item {
    flex-direction: row;
}
.navbar img {
    height: auto;
    width: 100px;
}
#nav_icons {
    display: none !important;
}
#nav_icons ul li {
    display: inline-block;
    padding-left: 20px;
}
#nav_icons ul li:last-child {
    padding-left: 0;
}
#navbarTogglerDemo01 ul li {
    display: block !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: auto;
}
.nav-item {
    margin: 0 15px;
}
.nav-link {
    font-size: 18px;
}
#service_items {
    width: 300px;
    height: 400px;
    overflow-y: scroll;
}
#development_items {
    width: 300px;
    height: 400px;
    overflow-y: scroll;
}
#destination_items img {
    height: auto;
    width: 35px;
}
#destination_item:hover #destination_items {
    display: block !important;
}
.navbar #event_btn {
    background-color: var(--second-color);
    color: var(--white-color);
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .offcanvas {
        overflow-y: scroll;
    }
    #service_items {
        height: auto;
    }
    #development_items {
        height: auto;
    }
}

/* Top Category */
#top_category img {
    height: 70px;
    width: 70px;
    border-radius: 10px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #top_category {
        overflow-x: scroll;
        padding-bottom: 15px;
        scrollbar-width: none;
    }
    #top_category .d-flex {
        justify-content: start !important;
    }
}

/* hero */
#hero {
    padding-bottom: 100px;
    background-image: url("../../image/bg.png");
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hero h1 {
    font-size: 70px;
}
#hero h1 span {
    color: #EF6E2B;
}
.fa-location-arrow {
   font-size: 30px;
   color: #EF6E2B;
   position: absolute;
   margin-left: 50px;
   margin-top: -10px;
}
.round_text{
    display: flex;
    justify-content: end;
    align-items: center;
}
.round_text img {
    height: 130px;
    width: auto;
    animation: round-text 8s linear infinite;
}

@keyframes round-text {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* second */
#second_section {
    padding-top: 30px;
}
#second_section h2 {
    font-size: 50px;
}
#second_section h2 span {
    color: #EF6E2B;
}
.home_category {
    background-color: #F8F9FA;
    padding: 15px;
    border-radius: 10px;
}
.home_category h5 {
    color: #0b2453;
}
.home_category img {
    height: auto;
    width: 100%;
    border-radius: 5px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #second_section h2 {
        font-size: 30px;
    }
}

/* Third */
#third_section {
    padding-top: 30px;
}
#third_section img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}
#third_section .swiper-wrapper {
    padding-bottom: 60px;
}

/* Fifth */
#fifth_section {
    padding-top: 30px;
}
#fifth_section img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}
#fifth_section .swiper-wrapper {
    padding-bottom: 60px;
}

/* forth */
#forth_section {
    margin-top: 30px;
    padding: 30px;
    background-color: #0b2453;
}
#forth_section h2 {
    font-size: 70px;
    color: #ffffff;
}
.forth_point {
    color: #ffffff;
    margin-top: 30px;
}
.forth_point h3 {
    font-size: 40px;
}
.forth_point h3 span {
    font-size: 60px;
}
.forth_point p {
    font-size: 20px;
}
.forth_point .pont_part {
    border: 1px solid #ffffff;
    padding: 15px 20px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #hero {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #hero h1 {
        font-size: 40px;
    }
    .forth_point h3 span {
        font-size: 40px;
    }
    #forth_section {
        padding: 10px;
    }
    #forth_section h2 {
        font-size: 40px;
    }
}

/* Top Footer Section */
.footer_first_section {
    background-color: #bdc3c7;
}
.footer_first_section ul li {
    display: inline-block;
    margin: 5px 5px;
}
.footer_first_section ul li a img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.footer_first_section ul {
    text-align: center;
}

.footer_second_section {
    padding: 50px 0;
}
.footer_second_section ul {
    text-align: center;
}
.footer_second_section ul li {
    display: inline-block;
    margin: 10px;
}
.footer_second_section ul li a i {
    font-size: 100px;
}
.fa-square-facebook {
    color: #1976D2;
}
.fa-square-twitter{
    color: #1D9CEB;
}
.footer_second_section .fa-linkedin {
    color: #0073B1;
}
.fa-square-pinterest {
    color: #C62026;
}
.fa-square-youtube {
    color: #F60002;
}
.fa-square-tumblr {
    color: #2F4156;
}
.fa-flickr {
    color: #A427BB;
}
.fa-instagram {
    color: #ff3c00;
}
.fa-square-behance {
    color: #1666F7;
}


/* Footer */
footer {
    background-color: #313743;
    padding: 50px 0;
}
footer ul {
    margin-top: 40px;
}
footer ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ffffff;
}
footer h4 {
    color: #ffffff;
}
footer ul li a {
    color: #ffffff;
    transition: .5s ease-in-out;
    font-size: 15px;
}
footer ul li a:hover {
    color: #f1f1f1;
    padding-left: 10px;
    transition: .5s ease-in-out;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    footer h4 {
        margin-top: 30px;
    } 
    footer ul {
        margin-top: 20px;
    }
}
@media only screen and (min-width: 510px) and (max-width: 800px) {
    footer h4 {
        margin-top: 30px;
    }
    footer ul {
        margin-top: 20px;
    }
}

.privacy_desclaim {
    background: #363636;
    padding: 20px 0;
}
.privacy_desclaim hr {
    color: #ffffff;
}
.privacy_desclaim ul {
    text-align: center;
}
.privacy_desclaim ul li {
    display: inline-block;
    margin: 0 15px;
}
.privacy_desclaim ul li a {
    color: #ffffff;
}



/* Main Section */
#main_section {
    padding: 30px 0;
}
#main_section img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.main_section {
    padding: 30px 0;
} 

/* Website */
.website_image {
    height: 300px;
    width: 100%;
    overflow-y: scroll;
}
.website_image img{
    width: 100%;
}
.visit_btn {
    background-color: #0b2453;
}
.visit_btn .btn {
    color: #ffffff;
}